{% extends "quotations/base.html" %}
{% load static %}

{% block content %}

<div class="fixed-buttons">
	{% if perms.quotations.add_user %}

		<a href="{% url 'usersAdd' %}" class="btn-circle btn-add" title="" data-toggle="tooltip" data-original-title="Add User">
			<!--<img src="{% static 'quotations/img/add-button.png' %}" alt="">-->
			<span class="glyphicon glyphicon-plus icons-style-inverse"></span>
		</a>
	{% endif %}

</div>

<div class="panel panel-default manage_container panel-custom-primary">
	<div class="panel-heading">
		<h4>Users</h4>
	</div>


	<div class="panel-body">
		<table class="table-responsive table_custom_manage">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Last Login</th>
				</tr>
			</thead>
			<tbody>
					{% if users %}
					    {% for user in users %}
					    <tr>
					        <td>{{user.first_name}}</td>
					        <td>{{user.last_name}}</td>
					        <td>{{user.username}}</td>
					        <td>{{user.email}}</td>
					        <td>{{user.last_login}}</td>
					        <td><a href="{% url 'usersView' user.id %}" class="manage_icons details_icon" title="view" data-toggle="tooltip" data-html="true"><span class="glyphicon glyphicon-list-alt icons-style"></span></a></td>
					        {% if perms.quotations.change_user %}
					        	<td><a href="{% url 'usersEdit' user.id %}" class="manage_icons edit_icon" title="" data-toggle="tooltip" data-original-title="Edit"><span class="glyphicon glyphicon-edit icons-style"></span></a></td>
					        {% endif %}
					        {% if perms.quotations.delete_user %}
					        	<td><a href="{% url 'usersDelete' user.id %}" class="manage_icons delete_icon" title="" data-toggle="tooltip" data-original-title="Delete"><span class="glyphicon glyphicon-trash icons-style"></span></a></td>
					        {% endif %}
					    </tr>
					    {% endfor %}
					{% else %}
					    <p>No users are available.</p>
					{% endif %}
					
				
			</tbody>
		</table>
		{% if users.has_other_pages %}
			<ul class="pagination">
			    {% if users.has_previous %}
			     	<li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
			    {% else %}
			     	<li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
			    {% for i in users.paginator.page_range %}
			    	{% if users.number == i %}
			    		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			    	{% else %}
			    		<li><a href="?page={{ i }}">{{ i }}</a></li>
			    	{% endif %}
			    {% endfor %}
			    {% if users.has_next %}
			    	<li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
			    {% else %}
			    	<li class="disabled"><span>&raquo;</span></li>
			    {% endif %}
			</ul>
		{% endif %}


		
	</div>

</div>




{% endblock %}

