{% extends "quotations/base.html" %}
{% load static %}

{% block content %}

<div class="fixed-buttons">
	{% if perms.quotations.add_company %}

		<a href="{% url 'companiesAdd' %}" class="btn-circle btn-add" title="" data-toggle="tooltip" data-original-title="Add Company">
			<!--<img src="{% static 'quotations/img/add-button.png' %}" alt="">-->
			<span class="glyphicon glyphicon-plus icons-style-inverse"></span>
		</a>
	{% endif %}

</div>


<div class="panel panel-default manage_container panel-custom-primary">

	<div class="panel-heading">
		<h4>Companies</h4>
	</div>

	<div class="panel-body">
		<table class="table-responsive table_custom_manage">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
				</tr>
			</thead>
			<tbody>
					{% if companies %}
					    {% for company in companies %}
					    <tr>
					        <td>{{company.name}}</td>
					        <td>{{company.email}}</td>
					        <td>{{company.phone}}</td>
					        {% if perms.quotations.change_company %}
					        	<td><a href="{% url 'companiesEdit' company.id %}" class="manage_icons edit_icon" title="" data-toggle="tooltip" data-original-title="Edit"><span class="glyphicon glyphicon-edit icons-style"></span></a></td>
					        {% endif %}
					        {% if perms.quotations.delete_company %}
					        	<td><a href="{% url 'companiesDelete' company.id %}" class="manage_icons delete_icon" title="" data-toggle="tooltip" data-original-title="Delete"><span class="glyphicon glyphicon-trash icons-style"></span></a></td>
					        {% endif %}
					    </tr>
					    {% endfor %}
					{% else %}
					    <p>There is no companies available</p>
					{% endif %}
					
				
			</tbody>
		</table>

		{% if companies.has_other_pages %}
			<ul class="pagination">
			    {% if companies.has_previous %}
			     	<li><a href="?page={{ companies.previous_page_number }}">&laquo;</a></li>
			    {% else %}
			     	<li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
			    {% for i in companies.paginator.page_range %}
			    	{% if companies.number == i %}
			    		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			    	{% else %}
			    		<li><a href="?page={{ i }}">{{ i }}</a></li>
			    	{% endif %}
			    {% endfor %}
			    {% if companies.has_next %}
			    	<li><a href="?page={{ companies.next_page_number }}">&raquo;</a></li>
			    {% else %}
			    	<li class="disabled"><span>&raquo;</span></li>
			    {% endif %}
			</ul>
		{% endif %}


		
	</div>

</div>


<script type='text/javascript'>
	function confirm_delete(message) {
			$(document).ready(function() {
				$('.delete_icon').click(function() {
					if(confirm(message)) {

					} else {
						return false;
					}
				});	
			});
	}
	confirm_delete('Are you sure you want to delete this company ?');
</script>



{% endblock %}

