
{% extends "quotations/base.html" %}
{% load static %}

{% block content %}



<div class="panel panel-primary panel-custom-primary">
	<div class="panel-heading">Add School</div>
	<div class="panel-body">

		{% if school %}
			<form action="{% url 'schoolsEdit' school.id %}" class="navbar-form navbar-left" role="form" id="EditSchoolForm" method="post" accept-charset="utf-8">
		{% else %}
			<form action="{% url 'schoolsAdd' %}" class="navbar-form navbar-left" role="form" id="AddSchoolForm" method="post" accept-charset="utf-8">
		{% endif %}
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-addon input-group-addon-custom" id="sizing-addon2">English Name</span>
    						<input type="text" name="name_en" id="name_en" value="{{ school.name_en }}" class="form-control" placeholder="English Name">
						</div>
					</div>
				</div>

				<br />

				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-addon input-group-addon-custom" id="sizing-addon2">Arabic Name</span>
    						<input type="text" name="name_ar" id="name_ar" value="{{ school.name_ar }}" class="form-control" placeholder="Arabic Name">
						</div>
					</div>
				</div>

				<br />

				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-addon input-group-addon-custom" id="sizing-addon2">Email</span>
    						<input type="email" name="email" id="email" value="{{ school.email }}" class="form-control" placeholder="Email">
						</div>
					</div>
				</div>

				<br />	
				
				<div class="submit">
					<input class="submit_button btn btn-success" type="submit" name="submit" value="Save" />
				</div>
			</form>
		
		
	</div>
</div>



{% if form.errors %}
	{{form.errors}}
{% endif %}


{% endblock %}

